* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  width: 100%; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  width: 100%;
  margin: auto; }
  header .logo span {
    font-family: Dosis, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #484848; }
  header nav ul {
    text-transform: uppercase; }
    header nav ul li {
      display: inline-block;
      padding: 0 20px;
      font-family: Poppins, sans-serif;
      font-weight: 500; }
      header nav ul li a {
        color: #FFFFFF; }

.cta {
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 13px 45px;
  background: linear-gradient(to left, #6156F9, #1A129F);
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-radius: 50px;
  border: none; }

h1 {
  font-weight: 400;
  font-size: 60px;
  color: #42495B;
  text-transform: uppercase;
  line-height: 80px; }
  h1::after {
    content: "For Business!";
    font-weight: 700;
    font-size: 84px;
    color: #42495B;
    text-transform: uppercase; }

.firstSec {
  height: 85vh;
  width: 100%;
  font-family: Poppins, sans-serif; }
  .firstSec .content1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; }
    .firstSec .content1 article {
      padding: 20px 0 0 15%;
      width: 50%; }
    .firstSec .content1 aside {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 50%; }
  .firstSec .phone {
    width: 100%;
    margin: auto; }
  .firstSec #mouse {
    width: 28px;
    height: 41px;
    background: url(../../assets/picto/mouse.svg) no-repeat center center;
    padding: 38px;
    border-radius: 50px;
    box-shadow: 0 0.7rem 0.7rem 0.1rem rgba(0, 0, 0, 0.3); }
  .firstSec .icons {
    position: absolute;
    top: 50%;
    left: 5rem; }
    .firstSec .icons ul {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .firstSec .icons ul:last-child::after {
        content: "";
        background: linear-gradient(to left, #6156F9, #1A129F);
        width: 3px;
        height: 29px; }
  .firstSec .bgimg-1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    rotate: 0.1deg; }
  .firstSec p {
    text-transform: uppercase;
    color: #7A839E;
    font-weight: 300;
    padding-bottom: 21px;
    font-size: 1.12rem; }
