// Éléments qui définissent les variables créées et les media queries
@import "helpers/variables.scss";
@import "helpers/breakpoints.scss";

// Composants de la page
@import "components/reset.scss";
@import "components/home.scss";
@import "components/header.scss";
@import "components/cta.scss";
@import "components/title.scss";
@import "components/section1.scss";
@import "components/section2.scss";
@import "components/section3.scss";
@import "components/section4.scss";
@import "components/section5.scss";