.firstSec {
    height: $window;
    background: url('assets/img/wave.svg');
    font-family: $poppins;
    img:first-child{
        display: $flex;
        justify-items: flex-end;
    }
}

h1 {
    &::after {
        content: "For Business!";
    }
}