.firstSec{
    height: $windowH;
    width: 100%;
    font-family: $poppins;

    .content1 {
        width: 100%;
        display: $flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;

        article {
            padding: $paddingXL;
            width: 50%;
        }
    
        aside {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 50%;
        }
    }


    .phone {
        width: 100%;
        margin: auto;
    }

    #mouse {
        width: 28px;
        height: 41px;
        background: url(../../assets/picto/mouse.svg) no-repeat center center;
        padding: $paddingMouse;
        border-radius: 50px;
        box-shadow: 0 0.7rem 0.7rem 0.1rem rgba($color: #000000, $alpha: 0.3);
    }

    .icons {
        position: $absolute;
        top: 50%;
        left: 5rem;

        ul {
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:last-child::after {
                content: "";
                background: $gradblue;
                width: 3px;
                height: 29px;
            }

        }
    }

    .bgimg-1{
        position: $absolute;
        top: 0;
        right: 0;
        z-index: -1;
        rotate: 0.1deg;
    }

    p {
        text-transform: $uppercase;
        color: $lightgreyb;
        font-weight: $light;
        padding-bottom: 21px;
        font-size: 1.12rem;
    }
}