// FONT SETTINGS
$poppins: Poppins, sans-serif;
$lato: Lato, sans-serif;
$uppercase: uppercase;

// HEIGHT
$window: 100vh;

// FLEXBOX
$flex: flex;
$justaround: space-between;

// POSITIONS
$absolute: absolute;
$fixed: fixed;

// IMAGES
$blueWaveTop: url('assets/img/wave.svg');